*.pyc
*.swp
*.swo
*.swn
.eggs/*
dist/*
src/crl.doc.egg-info/*
sphinxdocs/robotdocs.rst
build/*
build_dir/*
coverage.xml
junit.xml
result.json
.tox/*
.cache/*
.pytest_cache/*
.coverage
devenv/*
sphinxdocs/builtin/*
sphinxdocs/builtin_index.rst
sphinxdocs/crl/*
sphinxdocs/crl_index.rst
xmldocs/*
sphinxdocs/crl_api/*
sphinxdocs/crl_api_index.rst
tmpsrc/*
